/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #f4f4f4;
  --vt-c-white-soft: #DFDBD9;
  --vt-c-white-mute: #CFC8C5;

  --vt-c-black: #110E13;
  --vt-c-black-soft: #211C24;
  --vt-c-black-mute: #332C39;

  --vt-c-pink: #C92C6D;
  --vt-c-dark-pink: #8D1F4D;
  --vt-c-green: #609EA2;
  --vt-c-indigo: #203638;
  --vt-c-blue: #5897fb;

  --vt-c-divider-light-1: var(--vt-c-black-mute);
  --vt-c-divider-light-2: #B7B2BB;
  --vt-c-divider-dark-1: #4B423E;
  --vt-c-divider-dark-2: #5D534E;

  --vt-c-text-light-1: var(--vt-c-black-soft);
  --vt-c-text-light-2: var(--vt-c-black-soft);
  --vt-c-text-dark-1: var(--vt-c-white-mute);
  --vt-c-text-dark-2: #C2B9B5;


  --system-font-stack: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-outline-edit: var(--vt-c-white-mute);

  --color-heading: var(--vt-c-text-light-2);
  --color-text: var(--vt-c-text-light-1);
  --color-icon: var(--color-border);
  --color-button: var(--vt-c-pink);
  --color-button-inverse-hover: #AD265E;

  --section-spacing: 1.5rem;
  --section-spacing-xl: 2.54rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black-soft);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-outline-edit: #564960;

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
    --color-icon: var(--color-border);
    --color-button-inverse-hover: #D6417F;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--system-font-stack);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  :root {
    --color-background: white;
    --color-background-soft: #FBFAFB;
    --color-background-mute: #EAE8EB;
  
    --color-border: #dddddd;
    --color-border-hover: #aaaaaa;
  
    --color-heading: #111111;
    --color-text: #191919;
    --color-icon: #666666;
  }
  html {
    font-size: 12px;
  }
  input {
    border: 0 !important;
  }
  section.health > header {
    text-align: left;
  }
  .hide-print {
    display: none !important;
  }
  .editable {
    outline: 0;
  }
}
